%ul
  %li
    .socialmedia-link=link_to("Facebook",
      "http://facebook.com/montazownia",
      target: "_blank")
  %li
    .socialmedia-link=link_to("Instagram",
      "http://instagram.com/montazownia",
      target: "_blank")

= javascript_include_tag "lib/jQuery/jquery.min"
= javascript_include_tag "lib/Moment/moment.min"
= javascript_include_tag "lib/FullCalendar/fullcalendar.min"
= javascript_include_tag "lib/gCal/gcal.min"
= javascript_include_tag "lib/MaterialDesignLite/material.min"
= javascript_include_tag "site"