!!!
%html{'lang' => I18n.locale}
  %head
    =partial(:'layouts/main/head')
    %meta{'name' => 'description', 'content' => t("descriptions.#{current_page.data.id}")}
    %title= get_head_title(current_page.data.id)
    - other_langs.each do |lang|
      %link{:rel => 'alternate', :href => translated_url(lang, current_page.data.id) , :hreflang => lang}
  %body
    = partial(:'layouts/main/nav')
    %main.mdl-layout__content
      -#%header
      -#  %h1
      -#    -if current_page.data.dont_translate_header?
      -#      =current_page.data.header
      -#    -else
      -#      =t(current_page.data.header)
      = yield
      = partial(:'layouts/main/footer')
    = partial(:'layouts/main/javascript_includes')
