!!!
%html{'lang' => I18n.locale}
    %head
        =partial(:'layouts/main/head')
        %meta{'name' => 'description', 'content' => t("descriptions.#{current_page.data.id}")}
        %title=current_page.data.title
        -# make way to define if post is translated -> if is, make the mapping for SEO
    %body
    = partial(:'layouts/main/nav')
    %main.mdl-layout__content
        .page-content
        %article
            %header
                %h1=current_page.data.title
            = yield
        = partial(:'layouts/blog/post_navigation')
        = partial(:'layouts/main/footer')
    = partial(:'layouts/main/javascript_includes')
