%aside
    %h3 Recent Articles
    %ol
    -local_blog_posts[0...4].each do |article|
        %li
            = link_to article.title, article
            %span
                = article.date.strftime('%b %e')

    %h3 Tags
    %ol
    -tag_hashmap.each do |tag, articles|
        %li
            =tag
            %ul
            -articles.each do |article|
                %li
                    =link_to("#{article.title}", article.url)
                    
    %h3 By Year 
    %ol
    -local_blog_posts.uniq{|article| [article.date.year, article.date.month]}.each do |article|
        %li
            -month=article.date.month
            -year=article.date.year
            ="#{month}-#{year}"
            %ol
            -local_blog_posts.select{|art| art.date.year==year}.select{|art| art.date.month==month}.each do |artc|
                %li
                    =link_to("#{artc.date}-#{artc.title}", artc.url)