%meta{'charset' => 'utf-8'}
%meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge,chrome=1'}
%meta{'http-equiv' => 'Last-Modified', 'content' => get_current_time}

-{"viewport" => "width=device-width, initial-scale=1, shrink-to-fit=no",
- "geo.position" => "52.39792742; 16.92453504",
- "geo.placename" => "ul. Różana 6, Poznań 61-577, PL",
- "geo.region" => "POL-Poland",
- "ICBM" => "52.39792742; 16.92453504",
- "generator" => "middleman"}.each do |name, content|
  %meta{'name' => "#{name}", 'content' => "#{content}"}

-["https://fonts.googleapis.com/icon?family=Material+Icons",
- "http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700"].each do | font |
  %link{:rel=>:stylesheet, :type => :"text/css", :href => "#{font}"}

-['16x16', '32x32', '96x96'].each do |icon_size|
  %link{:rel => 'icon', :type => 'image/png', :sizes => '16x16', :href => "/assets/images/favicons/favicon-#{icon_size}.png"}

-["lib/DialogPolyfill/dialog-polyfill.min", 
-  "lib/normalize/normalize.min", 
-  "lib/MaterialDesignLite/material.min", 
-  "site"].each do |stylesheet|
  =stylesheet_link_tag stylesheet

-if current_page.data.additional_stylesheets?
  -current_page.data.additional_stylesheets.each do |stylesheet|
    = stylesheet_link_tag stylesheet